<html ng-app="app">
	<head>
		<meta  charset="utf-8" />
		<title>New Web Project</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="js/angular.js"></script>
		<script src="app/app.js"></script>
		<script src="controllers/searchBox.js"></script>
		<link rel="stylesheet" href="css/style.css">
		<style>
		</style>
	</head>
	<body>
		
		<div ng-controller="searchBox">
			<h1 class="text-center text-info">{{title}}</h1>
			<div class="row">
				<div class="col-lg-9">
					<div class="row">
						
						<div class="col-lg-3" ng-repeat="a in actors">
							<div class="panel panel-default">
								
								<div class="panel-body"><img src="https://image.tmdb.org/t/p/w235_and_h235_bestv2{{a.profile_path}}"  ng-click="getMoviesOfActor(a) ; a.selected = !a.selected"
    																			class="img-responsive" 
  																   		  	    ng-class="{'selected-image': a.selected}" >
								</div>
								<div class="panel-heading"><a target="_blank" ng-href="{{a.id}}.html">{{a.name}}</a></div>
							</div>
						</div>
						
						<div class="col-lg-3" ng-repeat="a in movies">
							<div class="panel panel-default">
								
								<div class="panel-body"><img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{a.poster_path}}"  ng-click="a.selected = !a.selected" 
    																			class="img-responsive" 
  																   		  	    ng-class="{'selected-image': a.selected}" >
								</div>
								<div class="panel-heading"><a target="_blank" ng-href="{{a.id}}.html">{{a.title}}</a></div>
							</div>
						</div>
						
						<div class="row">
							<div class="row">				<!-- row to hold actor panel -->
								<div class="panel panel-default">
										  <div class="panel-body"><img src="https://image.tmdb.org/t/p/w235_and_h235_bestv2{{actor.profile_path}}" 
		    																			class="img-responsive" 
		  																   		  	    ng-class="{'selected-image': actor.selected}" >
										  </div>
										  <div class="panel-heading">{{actor.name}}</a></div>
									</div>
							</div>
							<div class="row">				<!-- row to hold panel of actor movies  -->
								<div class="col-lg-3" ng-repeat="a in moviesByActor">
									<div class="panel panel-default">
										  <div class="panel-body"><img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{a.poster_path}}"  ng-click="a.selected = !a.selected ; getActorsByMovie(a)"
		    																			class="img-responsive" 
		  																   		  	    ng-class="{'selected-image': a.selected}" >
										  </div>
										  <div class="panel-heading">{{a.name}}</div>
									</div>
								</div>
						    </div>
						</div>
						
						<div class="row">
							<div class="row">				<!-- row to hold actor panel -->
								<div class="panel panel-default">
										  <div class="panel-body"><img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{movie.poster_path}}" 
		    																			class="img-responsive" 
		  																   		  	    ng-class="{'selected-image': movie.selected}" >
										  </div>
										  <div class="panel-heading">{{movie.title}}</a></div>
									</div>
							</div>
							<div class="row">				<!-- row to hold panel of actor movies  -->
								<div class="col-lg-3" ng-repeat="a in actorsInMovie">
									<div class="panel panel-default">
										  <div class="panel-body"><img src="https://image.tmdb.org/t/p/w235_and_h235_bestv2{{a.profile_path}}"  ng-click="a.selected = !a.selected ; getActorsInMovie(a)"
		    																			class="img-responsive" 
		  																   		  	    ng-class="{'selected-image': a.selected}" >
										  </div>
										  <div class="panel-heading">{{a.name}}</div>
									</div>
								</div>
						    </div>
						</div>						
							
					</div>	
				</div>
				<div class="col-lg-3">
					<div class="panel panel-default">
						<input ng-model="ActorName" ng-click="movieName=null" ng-keyup="searchActors($event, ActorName)" placeholder="Find by actor" class="form-control"/>
						<input ng-model="movieName" ng-click="ActorName=null" ng-keyup="searchMovies($event, movieName)" placeholder="Find by movie" class="form-control"/>
						<!--
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="a in actors | filter:{name:search}">
								<div class="name"><a href="{{a.id}}.html" target="_blank">{{a.name}}</a></div>
			
							</li>
						</ul>
						-->
					</div>
					
					<button class="btn" ng-click="sortByName()">
					 Sort by first name
				   </button>


				</div>					
			</div>
		</div>
	</body>
</html>



